<div class="container">
    <div class="card">
  <h5 class="card-header">Add a New Grocery Item</h5>
  <div class="card-body">
 <form class="form-inline">
  <label for="inlineFormInputName1">Item</label>
  <input type="text" class="form-control mb-2 mr-sm-2" id="groceryItem" placeholder="">

  <label for="inlineFormInputName2">Quantity</label>
  <input type="text" class="form-control mb-2 mr-sm-2" id="groceryQuantity" placeholder="">

<label for="inlineFormInputName3">Category</label>
  <input type="text" class="form-control mb-2 mr-sm-2" id="groceryCategory" placeholder="">
</form>
  <button type="submit" class="btn btn-primary">Add Item</button>
  </div>
</div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>