<div class="container">
  <div class="card">
    <h5 class="card-header bg-primary text-white">New Note</h5>
    <div class="card-body">
      <div class="form">

        <div class="form-group">
          <label for="formGroupExampleInput">Author</label>
          <input type="text" class="form-control" id="noteAuthor" placeholder="">
        </div>

        <div class="form-group">
          <label for="exampleFormControlTextarea1">Note</label>
          <textarea class="form-control" id="noteArea" rows="3"></textarea>
        </div>

        <button type="submit" class="btn btn-primary" id="noteButton">Add Note</button>
        <button type="submit" class="btn btn-primary homeButton">Home</button>
 
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="js/index.js"></script>