<div class="container">
    <div class="card">
  <h5 class="card-header">Add a New Task</h5>
  <div class="card-body">
      <form>
  <div class="form-group">
    <label for="formGroupExampleInput">Task</label>
    <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Insert Task">
  </div>
  <div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
  <label class="custom-control-label" for="customRadioInline1">Today</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
  <label class="custom-control-label" for="customRadioInline2">This Week</label>
</div>
<div class="custom-control custom-radio custom-control-inline">
  <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input">
  <label class="custom-control-label" for="customRadioInline3">As Soon As Possible</label>
</div>

</form>
  <button type="submit" class="btn btn-primary">Add Task</button>
  </div>
</div>
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
