.list-group-item {
  line-height: 2.5;
}

body {
  position: relative;
}

.grocery {
  height: 450px;
  overflow-y: scroll;
}

.notes {
  height: 450px;
  overflow-y: scroll;
}

.todo {
  height: 450px;
  overflow-y: scroll;
}

#title {
  font-size: 100px;
}

.calendarContainer {
  margin-bottom: 10px;
  margin-top: 5px;
}

.card {
  margin-top: 25px;
}

.form-check {
  margin-bottom: 5px;
}

.radioContainer {
  margin-bottom: 10px;
}

.groceryForm {
  margin-left: 10px;
}